.App {
  text-align: center;
}

body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* x */
  background-color: #191919;
  color: gainsboro;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border: 1px solid black;
  border-radius: 20px;
  justify-content: center;
  margin-top: 90px;
  width: 90%;
  height: 50%;
  padding: 20px;
  background-color: #383838;
}

h1{
  font-size: 45px;
  margin-top: 0px;
  margin-bottom: 30px;
}

input{
  border: 1px solid #066163;
  border-radius: 7px;
  padding: 10px 20px ;
  font-size: 15px;
  outline: none;
  color: gainsboro;
  background-color: #066163;
}

button{
  margin-top: 10px;
  border: 1px solid #CDBE78;
  border-radius: 7px;
  padding: 10px 100px ;
  font-size: 15px;
  outline: 2px;
  color: black ;
  outline: none;
  background-color: #CDBE78;

}


.logout-button {
  margin-top: 10px;
  border: 1px solid #ff3333;
  border-radius: 7px;
  padding: 10px 100px ;
  font-size: 15px;
  outline: 2px;
  color: black ;
  outline: none;
  background-color: #ff3333;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


input:focus {
  border: 2px solid #383838;
  border-radius: 7px;
  padding: 10px 20px ;
  font-size: 15px;
  outline: none;
  color: gainsboro;
  background-color: #09a7aa;
}

button:hover {
  background-color: #958437;
  border: 2px solid #383838;
}
.logout-button:hover{
  border: 2px solid #383838;
  border-color: #383838 ;
  background-color: #e60000;
}

button:active {
background-color: #e6d37c;
box-shadow: 0 1px #383838;
transform: translateY(1px);
}